﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 text-center">
            <div class="et-foter-title">
                <p class="et-foter-sub-title text-uppercase" style="font-family: 'Noto Sans', sans-serif;">@Localizer["Liên hệ"]</p>
            </div>
            <div class="foter-logo">
                <ul class="list-inline">
                    <li><a href="#"><i class="fa fa-envelope"></i> @Localizer["Email"]: lienhe@nashtechglobal.com</a></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 text-center">
            <div class="et-foter-title">
                <p class="et-foter-sub-title text-uppercase" style="font-family: 'Noto Sans', sans-serif;">@Localizer["Hỗ trợ nhanh"]</p>
</div>
            <div class="foter-logo">
                <ul class="list-inline">
                    <li><a href="#"><i class="lnr lnr-phone"></i> @Localizer["Hot Line"]: 08 52 52 52 53</a></li>
</ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 text-center">
            <div class="et-foter-title">
                <p class="et-foter-sub-title text-uppercase" style="font-family: 'Noto Sans', sans-serif;">@Localizer["Truyền thông"]</p>
</div>
            <div class="foter-logo">
                <ul class="list-inline">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <br />
    <div class="row" style="margin-top: 25px;">
        <div class="col-md-6">
            <p class="copyright">Copyright ©2018 <span class="text-thm">SimpleBlog</span>  All Rights Reserved</p>
        </div>
        <div class="col-md-6 text-right">
            @await Html.PartialAsync("_SelectLanguagePartial")
        </div>
    </div>
</div>