﻿@using SimpleBlog.Entities.Dtos
@using Microsoft.AspNetCore.Mvc.Localization
@model SimpleBlog.Entities.Dtos.CustomerQuestion

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Trang chủ"];
    var Category = ViewData["Category"] as IEnumerable<SimpleBlog.Entities.Dtos.CategoryDto>;
    var posts = ViewData["posts"] as IEnumerable<SimpleBlog.Entities.Dtos.PostDto>;
    var firstPosts = posts.FirstOrDefault();
    var randomNumber = new Random();

}
<style>
    .p-y {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }

    .bg-blue {
        background-color: #439FE0;
    }

    .cta .single-line p.lead {
        display: inline-block;
        margin-bottom: 15px;
    }

    .btn, a.btn {
        display: inline-block;
        color: #ffffff;
        padding: 11px 18px;
        margin-bottom: 7px;
        margin-right: 5px;
        font-size: 15px;
        font-weight: 900;
        letter-spacing: 1px;
        vertical-align: middle;
        white-space: pre-line;
        text-align: center;
        border-radius: 4px;
        cursor: pointer;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }

    .btn-ghost {
        background-color: transparent;
        border: 3px solid #fff;
    }
</style>
<div class="wrapper">
    <section class="et-blog-one" style="padding-top:15px; padding-bottom:45px;">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/images/Identify/law-banner.jpg" alt="DỊCH VỤ PHÁP LÝ KHÁC" class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <h1 class="super-heading">@Localizer["TẬP HỢP ĐA DẠNG CHỦ ĐỀ"]</h1>
                    </div>
                </div>
                <div class="item">
                    <img src="~/images/Identify/law-banner.jpg" alt="DỊCH THUẬT ĐA NGÔN NGỮ" class="img-responsive" />
                    <div class="carousel-caption" role="option">
                        <h1 class="super-heading">@Localizer["GÓC NHÌN CHUYÊN SÂU TỪNG CHỦ ĐỀ"]</h1>
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>

    <section id="cta2" class="p-y cta bg-edit bg-blue">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center single-line">
                    <p class="lead text-white m-r-md f-w-700">
                        @Localizer["Cần tư vấn, giúp đỡ viết bài"]?
                    </p>

                    <a href="/lien-he" class="btn btn-ghost btn-md smooth-scroll">
                        @Localizer["Liên hệ ngay"]<i class="fa fa-arrow-right m-l"></i>
                    </a>
                    <br />
                    <p class="lead text-white m-r-md f-w-700">@Localizer["Hoặc gọi tới"]</p>

                    <p class="btn btn-ghost btn-md smooth-scroll">@Localizer["HotLine"]: 0393939393</p>
                </div>
            </div>
        </div>
    </section>

    <section class="et-blog-one" style="padding-top:15px; padding-bottom:45px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="et-blog-title">
                        <p class="et-blog-sub-title text-thm text-uppercase">
                            @Localizer["Bài viết của chúng tôi"]
                        </p>
                        <h1 class="text-uppercase"><span class="text-thm">@Localizer["Bài viết mới"]</span></h1>
                        <p>@Localizer["Tổng hợp các bài viết mới đăng"]</p>
                    </div>
                </div>
            </div>
            @if (posts.Any())
            {
                <div class="row second-rawnd">
                    @foreach (var item in posts)
                    {
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="et-blog-col">
                                <div class="et-blog-thumb">
                                    <img class="img-rounded" height="150" width="350" src=@item.ImageUrl alt="" asp-append-version="true">
                                    <div class="et-thumb-cntnt">
                                        <ul class="list-inline">
                                            <li><a class="et-like" href="#"><i class="pe-7s-like2"></i> @randomNumber.Next(100, 150)</a></li>
                                            <li><a class="et-comment" href="#"><i class="pe-7s-comment"></i> @randomNumber.Next(50, 250)</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="et-blog-cntnt" style="height: 150px">
                                    <h3 class="et-blog-cntnt-title" style="font-family: 'Noto Sans', sans-serif;">@item.Title</h3>
                                    @if (item.Excerpt != null && item.Excerpt.Length > 150)
                                    {@Html.Raw(item.Excerpt.Substring(0, 150) + "...") }

                                else
                                { @Html.Raw(item.Excerpt)}

                                </div>
                                <div class="et-blog-ftr">
                                    <ul class="list-inline">
                                        <li>
                                            <a class="et-readmore pull-left text-uppercase" asp-area="" asp-controller="Post" asp-action="Details" asp-route-id="@item.Id">
                                                @Localizer["chi tiết"]
                                            </a>
                                            <a class="et-date pull-right text-uppercase" asp-area="" asp-controller="Post" asp-action="Details" asp-route-id="@item.Id">
                                                <i class="pe-7s-date"></i> @item.UpdatedDate.ToShortDateString()
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }

        </div>
    </section>
    @await Html.PartialAsync("_MapPartial")
</div>