﻿@model SimpleBlog.Entities.Dtos.CompanyInfoDto

@{
    ViewData["Title"] = "Contact";
}
<div class="wrapper">
    <div class="et-pagetitled" style="background-image:none; background-color:#2bbbe3;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-left">
                    <div class="et-pgttl">@ViewData["About_Us"]</div>
                    <div class="et-pgsbttl">@ViewData["About_Description"]</div>
                </div>
                <div class="col-md-4 text-right">
                    <ul class="list-inline"></ul>
                </div>
            </div>
        </div>
    </div>
    <section class="et-introduction" style="padding-top:20px; padding-bottom:0px">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 et-welcome-half">
                    <ul class="et-welcome-list-style">
                        @foreach (var item in ViewData["Categorys"] as IEnumerable<SimpleBlog.Entities.Dtos.CategoryDto>)
                        {
                            <li><a asp-area="" asp-controller="Post" asp-action="Index"  asp-route-id="0" asp-route-categoryId="@item.Id">@item.Title</a></li>
                        }
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="et-welcome-thumb text-right">
                        <img class="img-responsive" src="~/images/home/blog-thumb.png" alt="">
                    </div>
                    <div class="et-welcome-support text-center">
                        <div class="et-icon"><i class="pe-7s-notebook"></i></div>
                        <div class="et-support">Chủ đề đa dạng</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
