﻿@model IEnumerable<SimpleBlog.Entities.Dtos.CategoryDto>
@{
    ViewData["Title"] = "Index";
}
@section sidebar
    {

    @{await Html.RenderPartialAsync("~/Areas/Admin/Views/Shared/_SidebarPartial.cshtml"); }
}
<div id="page-wrapper">
    <span class="AntiForge"> @Html.AntiForgeryToken() </span>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" style="font-family: 'Noto Sans', sans-serif;">
                Chỉnh sửa Danh mục chính
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel-heading">
                <button id="btn_add" class="btn btn-primary">Thêm Danh mục</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Chỉnh sửa Danh mục
                </div>
                <div class="panel-body">
                    <table id="categoryTable" class="table table-striped table-bordered table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th>Tiêu đề</th>
                                <th>Slug</th>
                                <th>Sửa / Xóa</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Delete Modal-->
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Xác nhận</h2>
            </div>
            <div class="modal-body">
                <span>Bạn chắc chắn muốn xóa dòng này</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                <a id="delete_action" class="btn btn-danger btn-ok" data-dismiss="modal">Delete</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="categoryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="categoryModalLabel">Chỉnh sửa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Tiêu đề </label>
                    <input id="title" class="form-control" type="text" value="" placeholder="Tiêu đề" />
                    <label for="slug">Slug</label>
                    <input id="slug" class="form-control" type="text" value="" placeholder="Slug" />
                    <label id="id"></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button id="btn_save" type="button" class="btn btn-primary" data-dismiss="modal">Lưu</button>
            </div>
        </div>
    </div>
</div>
    </div>
@section Scripts{
    <script src="~/js/category.js"></script>
}