﻿@model SimpleBlog.Entities.Dtos.CompanyInfoDto
@{
    ViewData["Title"] = "Index";
}

@section sidebar
    {
    @{await Html.RenderPartialAsync("~/Areas/Admin/Views/Shared/_SidebarPartial.cshtml"); }
}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" style="font-family: 'Noto Sans', sans-serif;">Chỉnh sửa thông tin công ty</h1>
        </div>
    </div>

    <form method="post" id="edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input id="company-id" type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="CompanyName" class="control-label"></label>
            <input id="company-name" asp-for="CompanyName" class="form-control" />
            <span asp-validation-for="CompanyName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CompanyPhone" class="control-label"></label>
            <input id="company-phone" asp-for="CompanyPhone" class="form-control" />
            <span asp-validation-for="CompanyPhone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Content" class="control-label"></label>
            <textarea  asp-for="@Model.Content" rows="20" aria-label="Content">@Model.Content</textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <label asp-for="@Model.MetaTitle" class="control-label"></label>
            <input id="company-meta-title" asp-for="MetaTitle" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="CompanyEmail" class="control-label">Email công ty</label>
            <input id="company-email" asp-for="CompanyEmail" class="form-control" type="text" />
        </div>
        <div class="form-group">
            <label asp-for="CompanyFaceBookUrl" class="control-label">Link Facebook</label>
            <input id="company-facebook" asp-for="CompanyFaceBookUrl" class="form-control" type="text" />
        </div>
        <div class="form-group">
            @if (Model != null)
            {
            <input type="submit" id="btn_save" value="Cập nhật" class="btn btn-primary" />
            }
            else
            {
            <input type="submit" id="btn_save" value="Thêm" class="btn btn-primary" />
            }
        </div>
    </form>
</div>


@section Scripts {
    <script src="~/lib/tinymce/tinymce.min.js"></script>
    <script src="~/js/admin.js" async></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            var model = new Object();
            $('#btn_save').on('click', function () {
                model.Id = $('#company-id').val() ? $('#company-id').val() : 0 ;
                model.CompanyName = $('#company-name').val();
                tinyMCE.triggerSave();
                model.Content = $('textarea').val();
                model.MetaTitle = $('#company-meta-title').val();
                model.CompanyPhone = $('#company-phone').val();
                model.CompanyEmail = $('#company-email').val();
                model.CompanyFaceBookUrl = $('#company-facebook').val();

                $.ajax({
                    type: "POST",
                    url: "/Admin/CompanyInfo/Save",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    data: JSON.stringify(model),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        alert('success');
                    },
                    failure: function (response) {
                        alert(response);
                    }
                });
            });
        })
    </script>

}


