﻿@model SimpleBlog.Entities.Dtos.PostDto

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-8">
            <!-- Title -->
            <h1 class="mt-4" style="font-family: 'Noto Sans', sans-serif;">@Html.DisplayFor(model => model.Title)</h1>
            <!-- Author -->
            <p class="lead">
            <p>@Html.DisplayFor(model => model.UpdatedDate) bởi SimpleBlog</p>

            <!-- Preview Image -->
            @if (!string.IsNullOrEmpty(@Model.ImageUrl))
            {
                <hr>
                <img class="img-fluid rounded" src="@Model.ImageUrl" alt="" asp-append-version="true">
            }
            <!-- Post Content -->
            <p>
                @Html.Raw(Model.Content)
            </p>
            <hr>
            <!-- Comments Form -->
            @*<div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>*@
            <!-- Single Comment -->
            @*<div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">Commenter Name</h5>
                   Comment function comming soon !!!
                </div>
            </div>*@
        </div>
        <!-- Sidebar Widgets Column -->
        @await Html.PartialAsync("_Sidebar_Partial")
    </div>
</div>
  