﻿@model List<SimpleBlog.Entities.Dtos.PostDto>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Bài viết"];
}
@{
    int currentPage = int.Parse(ViewContext.RouteData.Values["page"] as string ?? "0");
}
<div class="et-pagetitled" style="background-image:none; background-color:#2bbbe3; height:auto">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left">
                <div class="et-pgttl">@ViewData["Title"]</div>
            </div>
        </div>
    </div>
</div>

<section class="et-faq-page" style="padding-top:20px; padding-bottom:0px">
    <div class="row">
        <div class="col-md-8" style="padding-top:15px;">
            <!-- Blog Post -->
            @foreach (var item in Model)
            {
                <div class="card mb-4">
                    @if (!string.IsNullOrEmpty(item.ImageUrl))
                    {
                        <img class="card-img-top" src="@item.ImageUrl" alt="Card image cap" asp-append-version="true">
                    }
                    <div class="card-body">
                        <h2 class="card-title" style="font-family: 'Noto Sans', sans-serif;"> @Html.DisplayFor(modelItem => item.Title)</h2>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Excerpt)</p>
                        @Html.ActionLink(@Localizer["Chi tiết"].Value, "Details", new { id = item.Id }, new { @class = "btn btn-info" })
                    </div>
                    <div class="card-footer text-muted">
                        <br />
                        @Html.DisplayFor(modelItem => item.UpdatedDate) @Localizer["bởi"] SimpleBlog
                    </div>
                </div>
            }

            <!-- Pagination -->
            <ul class="pagination justify-content-center mb-4">

                @if (currentPage < int.Parse(ViewData["MaxPage"].ToString()) - 1)
                {
                    <li class="page-item">
                        <a asp-area="" asp-controller="News" asp-action="Index" asp-route-page="@ViewData["prev"]">&larr; @Localizer["Cũ hơn"]</a>
                    </li>
                }
                @if (currentPage > 0)
                {
                    <li class="page-item">
                        <a rel="next" class="page-link" href="@ViewData["next"]">@Localizer["Mới hơn"] &rarr;</a>
                    </li>
                }

            </ul>
        </div>
        <!-- Sidebar Widgets Column -->
        @await Html.PartialAsync("_Sidebar_Partial")
    </div>
</section>
