﻿@charset "utf-8";
/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');*/

body {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-size: 13px;
    color: #707070;
    line-height: 22px;
    letter-spacing: 0.01em
}

iframe {
    border: 0;
}

iframe {
    max-width: 100%;
}

iframe {
    border-width: 0px;
}

* {
    transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
}

::selection {
    color: #000;
    background: #dcdcdc;
}

::-moz-selection {
    color: #000;
    background: #dcdcdc;
}

::-webkit-input-placeholder {
    color: #999;
    text-overflow: ellipsis;
}

:-moz-placeholder {
    color: #999 !important;
    text-overflow: ellipsis;
    opacity: 1;
}

::moz-placeholder {
    color: #999 !important;
    text-overflow: ellipsis;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #999 !important;
    text-overflow: ellipsis;
    opacity: 1;
}

::-webkit-scrollbar {
    width: 12px
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}

::-webkit-scrollbar-thumb {
    background: rgba(210,210,210,.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.5);
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,.5);
    box-shadow: inset 0 0 6px rgba(0,0,0,.5);
}

    ::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(210,210,210,.4)
    }

.bg-white {
    background: #fff;
}

.border-none {
    border: 0 !important
}

.no-padding {
    padding: 0 !important
}

section {
    border-bottom: 1px solid #ececec
}
