﻿@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using SimpleBlog.Areas.Admin.Models
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
}
<body style="background: #47cfef">
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title" style="font-family: 'Noto Sans', sans-serif;">Xin mời đăng nhập</h3>
                </div>
                <div class="panel-body">
                    <section>
                        <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                            <hr />
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" class="form-control" placeholder="Email" autofocus />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input asp-for="Password" class="form-control" placeholder="password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label asp-for="RememberMe">
                                        <input asp-for="RememberMe" />
                                        @Html.DisplayNameFor(m => m.RememberMe)
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-lg btn-success btn-block">Log in</button>

                            </div>
                            <div class="form-group">
                                <p>
                                    <a asp-action="ForgotPassword">Quên mật khẩu?</a>
                                </p>
                                @*<p>
                                    <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Register as a new user?</a>
                                </p>*@
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </div>
</body>
  
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
