﻿@model SimpleBlog.Entities.Dtos.PostDto

@{
    ViewData["Title"] = "Create";
}

@section sidebar
{
    @{await Html.RenderPartialAsync("~/Areas/Admin/Views/Shared/_SidebarPartial.cshtml"); }
}

@section Head{
    @*<link rel="stylesheet" href="~/css/admin.css" />*@
}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header" style="font-family: 'Noto Sans', sans-serif;">Tạo bài viết mới</h1>
        </div>
    </div>

    <form method="post" id="edit" enctype="multipart/form-data" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Excerpt" class="control-label"></label>
            <input asp-for="Excerpt" class="form-control" />
            <span asp-validation-for="Excerpt" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Content" class="control-label"></label>
            <textarea asp-for="@Model.Content" rows="20" aria-label="Content">@Model.Content</textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <label asp-for="ImageUrl" class="control-label">Link ảnh bìa cho bài viết hoặc tải ảnh lên</label>
            <input asp-for="ImageUrl" class="form-control" />
            <input type="file" class="form-control-file" name="files" multiple />
        </div>
        <div class="form-group">
            <select asp-for="CategoryId" asp-items="@(new SelectList(ViewData["Categories"] as IEnumerable<SimpleBlog.Entities.Dtos.CategoryDto>, "Id", "Title" ))" class="form-control et-form-control required" style="height: 40px" required="required" data-error="Vui lòng thể loại">
                <option value="" hidden disabled selected>Thể loại</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="IsActive" class="custom-control-input" type="checkbox" />
            <label asp-for="IsActive" class="control-label">Hiển thị bài viết</label>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </form>

    <div class="form-group" >
        <a asp-action="Index" style="padding-bottom: 20px">Quay lại danh sách</a>
    </div>
</div>


    @section Scripts {
        <script src="~/lib/tinymce/tinymce.min.js"></script>
        <script src="~/js/admin.js" async></script>
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
