﻿@model SimpleBlog.Entities.Dtos.PostDto

@{
    ViewData["Title"] = "Delete";
}

<h2>Xóa bài viết</h2>

<h3>Bạn chắc chắn muốn xóa bài viết này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-area="Admin" asp-controller="News" asp-action="Index">Quay lại danh sách</a>
    </form>
</div>
