﻿@model IEnumerable<SimpleBlog.Entities.Dtos.PostDto>
@{
    ViewData["Title"] = "Index";
}
@section sidebar
    {
    @{await Html.RenderPartialAsync("~/Areas/Admin/Views/Shared/_SidebarPartial.cshtml"); }
}
@section Head{
    @*<link rel="stylesheet" href="~/css/blog-home.css" />*@
}
<div id="page-wrapper">
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="my-4" style="font-family: 'Noto Sans', sans-serif;">
                    Quản lý bàn viết - Chuyên mục - Vấn đề sự kiện
                </h2>
                <p>
                    <a asp-action="Create" class="btn btn-info">Tạo mới bài viết</a>
                </p>
                <hr />
                <!-- Blog Post -->
                @foreach (var item in Model)
                {
                    <div class="card mb-4">
                        @if (!string.IsNullOrEmpty(item.ImageUrl))
                        {
                            <img class="card-img-top" src="@item.ImageUrl" alt="Card image cap" asp-append-version="true">
                        }
                            <div class="card-body">
                                <h2 class="card-title" style="font-family: 'Noto Sans', sans-serif;"> @Html.DisplayFor(modelItem => item.Title)</h2>
                                <p class="card-text">@Html.DisplayFor(modelItem => item.Excerpt)</p>
                                    <a class="btn btn-info"
                                       asp-area="Admin" asp-controller="Post" asp-action="Update" asp-route-id="@item.Id" title="Edit the post">Chỉnh sửa</a>
                                    <a class="btn btn-danger" style="float: right"
                                       asp-area="Admin" asp-controller="Post" asp-action="Delete" asp-route-id="@item.Id" title="Delete the post">Xóa bài viết</a>
                            </div>
                        <div class="card-footer text-muted">
                            <br />
                            @Html.DisplayFor(modelItem => item.CreatedDate) By
                            <a href="#">Some one</a>
                        </div>
                    </div>
                    <hr>
                }

                <!-- Pagination -->
                <ul class="pagination justify-content-center mb-4">
                    <li class="page-item">
                        <a class="page-link" href="#">&larr; Cũ hơn</a>
                    </li>
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Mới hơn &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>