﻿@model SimpleBlog.Entities.Dtos.PostDto

@{
    ViewData["Title"] = "Details";
}
@section sidebar
{
    @{await Html.RenderPartialAsync("~/Areas/Admin/Views/Shared/_SidebarPartial.cshtml"); }
}

<div id="page-wrapper">
    <div class="row">
        <div class="container">
            <div class="row">
                <!-- Post Content Column -->
                <div class="col-lg-8">
                    <!-- Title -->
                    <h1 class="mt-4" style="font-family: 'Noto Sans', sans-serif;">@Html.DisplayFor(model => model.Title)</h1>
                    <!-- Author -->
                    <p class="lead">
                    <p>@Html.DisplayFor(model => model.CreatedDate) bởi SimpleBlog
                    </p>
                    <hr>
                    <hr>
                    <!-- Preview Image -->
                    @if (!string.IsNullOrEmpty(@Model.ImageUrl))
                    {
                        <img class="img-fluid rounded" src="@Model.ImageUrl" alt="">
                    }
                    <hr>
                    <!-- Post Content -->
                    <p>
                        @Html.Raw(Model.Content)
                    </p>
                    <hr>
                    <div>
                        <a class="btn btn-default" asp-action="Index">Quay trở về</a>
                    </div>
                </div>

                <div class="col-md-4">
                  </div>
            </div>
        </div>

    </div>
</div>


