﻿<!DOCTYPE html>
<html dir="ltr" lang="en">
@{
    ViewData["Title"] = "Chủ đề";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div class="wrapper">
        <div class="et-pagetitled" style="background-image:none; background-color:#2bbbe3; height:auto">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-left">
                        <div class="et-pgttl">Chủ đề</div>
                        <div class="et-pgsbttl">Các chủ đề chính</div>
                    </div>
                </div>
            </div>
        </div>
        <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
    </div>

</body>
</html>

