﻿@page
@model SimpleBlog.Pages.IntroModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper "*, SimpleBlog"
@{
    ViewData["Title"] = "Intro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">
    <div class="et-pagetitled" style="background-image:none; background-color:#2bbbe3;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-left">
                    <div class="et-pgttl">@Localizer[ViewData["About_Us"].ToString()]</div>
                    <div class="et-pgsbttl">
                        <citation content="@ViewData["About_Description"]"></citation>
                    </div>

                </div>
                <div class="col-md-4 text-right">
                    <ul class="list-inline"></ul>
                </div>
            </div>
        </div>
    </div>
    <section class="et-introduction" style="padding-top:20px; padding-bottom:0px">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 et-welcome-half">
                    <ul class="et-welcome-list-style">
                        @foreach (var item in ViewData["Categorys"] as IEnumerable<SimpleBlog.Entities.Dtos.CategoryDto>)
                        {
                            <li><a asp-area="" asp-controller="Post" asp-action="Index" asp-route-id="0" asp-route-categoryId="@item.Id">@Localizer[item.Title]</a></li>
                        }
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="et-welcome-thumb text-right">
                        <img class="img-responsive" src="~/images/home/blog-thumb.png" alt="">
                    </div>
                    <div class="et-welcome-support text-center">
                        <div class="et-icon"><i class="pe-7s-notebook"></i></div>
                        <div class="et-support">@Localizer["Chủ đề đa dạng"]</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>