﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Công ty SimpleBlog</title>
        <link href="~/css/blog-home.css" rel="stylesheet">
        <link rel="stylesheet" href="~/vendor/vendor/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <!-- Responsive stylesheet -->
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/responsive.css">
        <link href="~/lib/bootstrap/dist/css/style.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />
        @*@RenderSection("Headers", required: false)*@

</head>
<body style="padding-top: 0px; padding-bottom: 0px;">
    <div class="wrapper">
        <div class="header-nav">
            @await Component.InvokeAsync("MainMenu")
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
        </div>
        <footer class="footer et-footer">
           @await Component.InvokeAsync("Footer")
        </footer>
        <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>

    </environment>

    @RenderSection("Scripts", required: false)
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/scrollto.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/menuzord.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/jquery-scrolltofixed-min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/wow.min.js"></script>
    <!-- Custom script for all pages -->
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/script.js"></script>
</body>
</html>
