﻿<link href="~/css/StyleSheet.css" rel="stylesheet" />
<section class="bg-white builder-bg border-none" id="contact-section10">
    <div class="container-fluid">
        <div class="row">
            <!-- map -->
            <div class="col-md-12 col-sm-12 col-xs-12 text-center location-map no-padding maps">
                <iframe height="400" allowfullscreen="" style="border: 0; width: 100%; vertical-align: bottom; display: block;" 
                        src="https://maps.google.com/maps?width=100%&amp;height=600&amp;hl=en&amp;coord=10.828229,106.677904&amp;q=H%E1%BA%BBm%2048%20Quang%20Trung+(Lu%E1%BA%ADt%20Nguy%E1%BB%85n%20Bun)&amp;ie=UTF8&amp;t=&amp;z=17&amp;iwloc=B&amp;output=embed">
                </iframe>
            </div>
            <!-- end map -->
        </div>
    </div>
</section>