@using Microsoft.AspNetCore.Identity
@using SimpleBlog.Areas.Admin.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
        <li>
            <a href="/admin/manage/index" title="Manage"><i class="fa fa-user fa-fw"></i> Hello @UserManager.GetUserName(User)!</a>
        </li>
        @*<li>
            <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
        </li>*@
        <li class="divider"></li>
        <li>
            <a href="/admin/account/logout" title="Logout"><i class="fa fa-sign-out fa-fw"></i>Log out</a>
        </li>
    </ul>
}

