﻿<ul class="nav" id="side-menu">
    <li class="sidebar-search">
        <div class="input-group custom-search-form">
            <input type="text" class="form-control" placeholder="Tìm kiếm...">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
        <!-- /input-group -->
    </li>
    <li>
        <a href="/admin/home/index"><i class="fa fa-dashboard fa-fw"></i> Bảng theo dõi</a>
    </li>
    <li>
        <a asp-area="Admin" asp-controller="MainMenu" asp-action="Index"><i class="fa fa-bar-chart-o fa-fw"></i>Quản lý menu</a>
        <!-- /.nav-second-level -->
    </li>
    <li>
        <a asp-area="Admin" asp-controller="Post" asp-action="Index"><i class="fa fa-table fa-fw"></i>Quản lý<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a asp-area="Admin" asp-controller="Post" asp-action="Index">Bài viết</a>
            </li>
            <li>
                <a asp-area="Admin" asp-controller="Category" asp-action="Index">Chủ đề</a>
            </li>
        </ul>
    </li>
    <li>
        <a asp-area="Admin" asp-controller="CompanyInfo" asp-action="Index"><i class="fa fa-edit fa-fw"></i>Thông tin công ty</a>
    </li>
    <li>
        <a asp-area="Admin" asp-controller="Footer" asp-action="Index"><i class="fa fa-edit fa-fw"></i>Chỉnh sửa footer</a>
    </li>
</ul>
