﻿@using Microsoft.AspNetCore.Mvc.Localization
@model SimpleBlog.Entities.Dtos.CustomerQuestion

@inject IViewLocalizer Localizer
<!DOCTYPE html>
<html dir="ltr" lang="en">
@{
    ViewData["Title"] = @Localizer["Thông tin liên hệ"];
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        .wrapper {
        }
    </style>
    <!-- Plombiers Title -->
</head>
<body>
    <div class="wrapper">
        <div class="et-pagetitled" style="background-image:none; background-color:#2bbbe3; height:auto">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-left">
                        <div class="et-pgttl">@ViewData["Title"]</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Faq Section -->
        <section class="et-contact-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="text-uppercase" style="font-family: 'Noto Sans', sans-serif;">
                            @Localizer["Bạn muốn gửi bài viết"]?
                        </h3>
                        <p>
                            @Localizer["Hãy liên hệ ngay với chúng tôi để được hỗ trợ viết bài cũng như đăng bài tại trang"].
                        </p>
                        <form asp-action="SubmitQuestion">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="CustomerDto.Name"  class="control-label"></label>
                                        <input asp-for="CustomerDto.Name" class="form-control"  type="text" />
                                        <span asp-validation-for="CustomerDto.Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label asp-for="CustomerDto.Phone"  class="control-label"></label>
                                        <input asp-for="CustomerDto.Phone" class="form-control" type="tel" />
                                        <span asp-validation-for="CustomerDto.Phone" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label asp-for="CustomerDto.Email"  class="control-label"></label>
                                <input asp-for="CustomerDto.Email" class="form-control" type="email" />
                                <span asp-validation-for="CustomerDto.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group text-right">
                                <input id="form_botcheck" name="form_botcheck" class="form-control et-form-control" value="" type="hidden">
                                <button type="submit" class="btn btn-lg btn-block et-button-styledark" data-loading-text="Getting Few Sec...">@Localizer["Gửi thắc mắc"]</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-6">
                        <!-- separator: Google Map -->
                        <div id="map-canvas" class="et-map" style="height: 342px;">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4 text-center">
                        <div class="et-contact-inlocat">
                            <span class="text-thm pe-7s-world"></span>
                            <h3 class="text-uppercase" style="font-family: 'Noto Sans', sans-serif;">
                                @Localizer["Địa chỉ"]
                            </h3>
                            <p>@Localizer["Văn phòng SimpleBlog"]<br>@Localizer["Tòa nhà Etown 4, phường 10, quận Tân Bình"]<br>@Localizer["Thành phố Hồ Chí Minh"]</p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 text-center">
                        <div class="et-contact-inlocat">
                            <span class="text-thm pe-7s-headphones"></span>
                            <h3 class="text-uppercase" style="font-family: 'Noto Sans', sans-serif;">
                                @Localizer["Gọi trực tiếp"]
                            </h3>
                            <p>@Localizer["Gọi để được tư vấn bất cứ khi nào"]<br> +35565858 </p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 text-center">
                        <div class="et-contact-inlocat">
                            <span class="text-thm pe-7s-mail"></span>
                            <h3 class="text-uppercase" style="font-family: 'Noto Sans', sans-serif;">
                                @Localizer["Email"]
                            </h3>
                            <p>lienhe@nashtechglobal.com </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Google Map Javascript Codes -->
    <script src="~/lib/bootstrap/dist/js/jquery.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyABqK-5ngi3F1hrEsk7-mCcBPsjHM5_Gj0"></script>
    <script src="~/lib/bootstrap/dist/js/jquery.googlemap.js"></script>

    <!-- Google maps -->
    <script type="text/javascript">
        $(window).load(function () {
            $("#map-canvas").googleMap({
                zoom: 15, // Initial zoom level (optional)
                coords: [10.828229, 106.677904], // Map center (optional)
                scrollwheel: true
            });
            // Marker 2
            $("#map-canvas").addMarker({
                coords: [10.828229, 106.677904],
                title: 'Văn phòng SimpleBlog', // Title
                text: 'Địa chỉ: Tòa nhà Etown 4, phường 10, quận Tân Bình, thành phố Hồ Chí Minh' // HTML content
            });
        });
    </script>
</body>
</html>