﻿@model SimpleBlog.Models.MainMenuViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="main-header-nav scrollingto-fixed">
    <div class="container">
        <nav id="menuzord" class="menuzord">
            <ul class="menuzord-menu">
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index">@Localizer[Model.MainMenu?.First()?.Title]</a>
                </li>
                @foreach (var item in Model.MainMenu.Skip(1))
                {
                    <li>
                        <a href="@item.Link">@Localizer[item.Title]</a>
                        @if (item.IsParent)
                        {
                            <ul class="dropdown">
                                @foreach (var category in Model.CategoryDtos)
                                {
                                    <li><a asp-area="" asp-controller="Post" asp-action="Index" asp-route-id="0" asp-route-categoryId="@category.Id">@Localizer[category.Title]</a></li>
                                }
                            </ul>
                        }
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>